{{ partial "header.html" . }}

<main id="content" role="main" style="max-width: 720px; margin: auto">
  <div class="container space-2">

    <article class="mb-5">
      <header>
        <h1 class="text-center">SimpleLogin Job Board</h1>
      </header>
      <p class="text-center mt-5 mb-7">
        Hi! Here you can find the positions that we are currently looking for.
      </p>
      <hr>

      {{.Content}}
    </article>


    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
    <div class="mb-5">
      <a href="{{.Permalink}}">
        <h3 class="">
          {{.Title}}
        </h3>
      </a>


      <p class="mb-1">
        {{.Description}}
        <a href="{{.Permalink}}">read more →</a>
      </p>

      <hr class="my-7">


    </div>
    {{ end }}


  </div>
</main>



{{ partial "footer.html" . }}