{{ partial "header.html" . }}

<main id="content" role="main" style="max-width: 720px; margin: auto">
    <div class="container space-1">
        <div class="row">
            <div class="col">
                <h1 class="h2">{{ .Title}}</h1>
            </div>
        </div>

        <div class="mb-3"></div>

        {{ .Content }}



    </div>
</main>

{{ if not .Params.meta }}
<hr>
<div class="container space-2" style="max-width: 720px; margin: auto">
    <div class="row">
        <div class="col text-left">
            {{ with .PrevInSection }}
            <h3> Previous Job </h3>
            <a href="{{.Permalink}}" class=""><i class="fa fa-chevron-circle-left"></i> {{ .Title }}</a>
            {{ end }}
        </div>
        <div class="col text-right">
            {{ with .NextInSection }}
            <h3> Next Job </h3>
            <a href="{{.Permalink}}" class="">{{ .Title }} <i class="fa fa-chevron-circle-right"></i> </a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ partial "footer.html" . }}