{{ partial "header.html" . }}

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Pricing Section -->
  <div class="container space-1 space-top-lg-3">
    <!-- Title -->
    <div class="w-lg-50 text-center mx-lg-auto mb-7">
      <h1 class="h1 font-size-md-down-3 font-weight-semi-bold">
        {{ i18n "pricing_title" | safeHTML }}
      </h1>
      <p>
        {{ i18n "pricing_subtitle" | safeHTML }}
      </p>
    </div>
    <!-- End Title -->

    <div class="w-100 mx-lg-auto">
      <div class="card-group card-group-sm-break mb-5">

        <!-- Free plan -->
        <div class="card">
          <div class="card-header text-center p-5" style="height: 200px">
            <h3 class="mb-1 font-weight-normal">
              {{ i18n "pricing_free_title" | safeHTML }}
            </h3>
            <div>
              <h4>$0</h4>
            </div>
          </div>

          <div class="card-body p-7">
            <div class="row">
              <ul class="list-unstyled mb-0">
                {{ with index site.Data.pricing site.Language.Lang }}
                  {{ $texts := .free }}

                  {{ range $texts }}
                    <li class="media mb-2">
                      <small class=" mr-3">
                        <small class="fas fa-check"></small>
                      </small>
                      <div class="media-body font-size-1">
                        {{ .title | safeHTML}}
                        <div style="font-size: 12px" class="text-secondary">
                          {{ .subtitle | safeHTML}}
                        </div>
                      </div>
                    </li>
                  {{ end }}
                {{ end }}

              </ul>

            </div>
          </div>

          <div class="card-footer border-0 pt-0 px-7 pb-7">
            <a class="btn btn-block btn-soft-primary transition-3d-hover" href="https://app.simplelogin.io/auth/register">
              {{ i18n "pricing_free_cta" | safeHTML }}
            </a>
          </div>
        </div>
        <!-- End Free plan -->

        <!-- Premium plan -->
        <div class="card">
          <div class="card-header text-center p-5" style="height: 200px">
            <h3 class="mb-1 font-weight-normal">
              {{ i18n "pricing_premium_title" | safeHTML }}
            </h3>
            <div>
              <span class="badge badge-primary">Black Friday</span>
            </div>

            <div class="d-inline-block position-relative mb-2">
              <div class="text-center" style="font-size: 14px;">
                <span style="font-size: 2rem">$20</span> for the first year <br>
                then <b>$30/year</b>
              </div>

              <div style="font-size: 14px;" class="mt-2">
                {{ i18n "pricing_premium_monthly_price" | safeHTML }}
              </div>

            </div>

          </div>

          <div class="card-body p-7">
            <div class="row">
              <ul class="list-unstyled mb-0">

                {{ with index site.Data.pricing site.Language.Lang }}
                  {{ $texts := .premium }}

                  {{ range $texts }}
                    <li class="media mb-2">
                      <small class=" mr-3">
                        <small class="fas fa-check"></small>
                      </small>
                      <div class="media-body font-size-1">
                        {{ .title | safeHTML}}
                        <div style="font-size: 12px" class="text-secondary">
                          {{ .subtitle | safeHTML}}
                        </div>
                      </div>
                    </li>
                  {{ end }}
                {{ end }}

              </ul>

            </div>
          </div>

          <div class="card-footer border-0 pt-0 px-7 pb-7">
            <a class="btn btn-block btn-primary transition-3d-hover" href="https://app.simplelogin.io/auth/register">
              {{ i18n "pricing_premium_cta" | safeHTML }}
            </a>
          </div>
        </div>
        <!-- End Premium Plan -->


      </div>


    </div>
  </div>
  <!-- End Pricing Section -->

  <div class="container">
    <h2 class="h2 text-center text-primary font-size-md-down-3 font-weight-semi-bold my-7">
        What people say about SimpleLogin
    </h2>

    <div class="card-columns">

      {{ with index site.Data.testimonial }}
        {{ $texts := .pricing }}
        {{range $index, $element := $texts}}
        <div class="card">
          <div class="card-body">
            <p class="truncate" style="font-size: 15px;">
              {{ ($element.text)|safeHTML }}
            </p>

            <div>
              {{ with $element.url }}
              <a href="{{ . }}">
              {{ end }}

              {{ with $element.image }}
              <img class="img-fluid rounded-circle" style="width: 30px" src="{{ . }}" alt="{{ $element.name }}">
              {{ end }}

              {{ with $element.url }}
              </a>
              {{ end }}

              <span style="font-weight: 500; font-style: italic;">
                {{ $element.name }}
              </span>
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>





  <!--
  <div class="" style="min-height: 500px">
    <div class="container">

      <h2 class="h2 text-center text-primary font-size-md-down-3 font-weight-semi-bold my-3">
          What people say about SimpleLogin
      </h2>

      <iframe
        src="https://app.tryhoist.com/w/simple-login/embed"
        frameborder="0"
        scrolling="auto"
        width="100%"
        style="height: 600px; overflow: hidden"
        id="hoist-wall-iframe"

      ></iframe>

    </div>
  </div>
  -->


  <div class="container-fluid pb-7 mb-7" style="max-width: 80rem; margin-top: 120px;">
    <!-- FAQ -->
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mt-7">
      <h2 class="text-primary">
        {{ i18n "faq_title" | safeHTML }}
      </h2>
    </div>
    <!-- End Title -->


    <div>
      <div id="pricing-faq" class="w-lg-75 mx-lg-auto">
        {{ with index site.Data.faq }}
          {{ $texts := .pricing }}
          {{range $index, $element := $texts}}

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header card-collapse" id='{{ (print "faq-faq-question" $index) }}'>
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                    data-toggle="collapse"
                    data-target='{{ print "#pricing-faq-answer" $index }}'
                    aria-controls='{{ print "pricing-faq-answer" $index }}'
                    aria-expanded="false"
                    >
                    <span>{{ ($element.question)|safeHTML }}</span>

                    <span class="card-btn-arrow">
                      <span class="fas fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>

              <div id='{{ print "pricing-faq-answer" $index }}'
                class="collapse"
                aria-labelledby='{{ print "faq-faq-question" $index }}'
                data-parent="#pricing-faq">
                <div class="card-body">
                  <p>{{ ($element.answer)|safeHTML }}</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

          {{ end }}
        {{ end }}

      </div>
    </div>

  </div>
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->

{{ partial "footer.html" . }}