<!-- ========== FOOTER ========== -->
<footer class="gradient-half-primary-v1" id="footer">
  <div class="container space-top-2 space-bottom-1">
    <div class="row justify-content-lg-start mb-7">
      <div class="col-sm-7 col-lg-4 mb-7">
        <!-- Logo -->
        <a class="d-inline-flex align-items-center mb-3" href='{{ cond (eq .Lang "en") "/" (print "/" .Lang) }}'
          aria-label="SimpleLogin">
          <span class="brand brand-light">SimpleLogin</span>
        </a>
        <!-- End Logo -->

        <p class="small text-white-70">
          {{ i18n "footer_1" | safeHTML }}
        </p>

        <p class="small text-white-70">
          {{ i18n "footer_3" | safeHTML }}
        </p>

      </div>

      <div class="col-sm-4 col-lg-2 ml-lg-auto mb-4">
        <h3 class="h6 text-white">Developer</h3>

        <!-- List Group -->
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li>
            <a class="list-group-item list-group-item-action" href="/developer">
              Sign in with SimpleLogin
            </a>
          </li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="https://docs.simplelogin.io">Documentation</a>
          </li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="https://github.com/simple-login/app">Github
              <img src="https://img.shields.io/github/stars/simple-login/app?style=social" alt="GitHub">
            </a></li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="https://status.simplelogin.io">Status
            <img src="https://img.shields.io/uptimerobot/ratio/7/m782965045-15d8e413b20b5376f58db050" alt="Uptime">
            </a></li>
        </ul>
        <!-- End List Group -->
      </div>

      <div class="col-sm-4 col-lg-2 mb-4">
        <h3 class="h6 text-white">Company</h3>

        <!-- List Group -->
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li>
            <a class="list-group-item list-group-item-action"
              href='{{ cond (eq .Lang "en") "/pricing" (print "/" .Lang "/pricing") }}'>
              {{ i18n "footer_pricing" }}
            </a>
          </li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="/blog">Blog</a></li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="/about">{{ i18n "footer_about" }}</a></li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action"
              href="https://github.com/simple-login/app/projects/1">Roadmap</a></li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action"
              href="/contact">{{ i18n "footer_contact" }}</a></li>
        </ul>
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action"
              href="/imprint">{{ i18n "footer_imprint" }}</a></li>
        </ul>
        <!-- End List Group -->
      </div>

      <div class="col-sm-4 col-lg-2 mb-4">
        <h3 class="h6 text-white">Resources</h3>

        <!-- List Group -->
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="/terms">Terms</a></li>
          <li><a class="list-group-item list-group-item-action" href="/privacy">Privacy</a></li>
          <li><a class="list-group-item list-group-item-action" href="/security">Security</a></li>
          <li>
            <a class="list-group-item list-group-item-action"
              href='{{ cond (eq .Lang "en") "/faq" (print "/" .Lang "/faq") }}'>
              FAQ
            </a>
          </li>
        </ul>
        <!-- End List Group -->
      </div>

      <div class="col-sm-4 col-lg-2 mb-4">
        <h3 class="h6 text-white">Features</h3>

        <!-- List Group -->
        <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" target="_blank" rel="noopener" href="https://chrome.google.com/webstore/detail/dphilobhebphkdjbpfohgikllaljmgbn">Chrome Extension</a></li>
          <li><a class="list-group-item list-group-item-action" target="_blank" rel="noopener" href="https://addons.mozilla.org/firefox/addon/simplelogin/">Firefox Add-on</a></li>
          <li><a class="list-group-item list-group-item-action" target="_blank" rel="noopener" href="https://apps.apple.com/app/id1494051017">Safari Extension</a></li>
          <li><a class="list-group-item list-group-item-action" target="_blank" rel="noopener" href="https://apps.apple.com/app/id1494359858">iOS (App Store)</a></li>
          <li><a class="list-group-item list-group-item-action" target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=io.simplelogin.android">Android (Play Store)</a></li>
          <li><a class="list-group-item list-group-item-action" target="_blank" rel="noopener" href="https://f-droid.org/en/packages/io.simplelogin.android.fdroid/">Android (F-Droid)</a></li>


        </ul>
        <!-- End List Group -->
      </div>

    </div>

    <div class="row align-items-center">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://twitter.com/simple_login">
              <span class="fab fa-twitter btn-icon__inner"></span>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://www.reddit.com/r/Simplelogin/">
              <span class="fab fa-reddit btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://www.patreon.com/simplelogin">
              <span class="fab fa-patreon btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://dev.to/simplelogin/">
              <span class="fab fa-dev btn-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>

      <div class="col-sm-6 text-sm-right">
        <!-- Copyright -->
        <p class="small text-white-70 mb-0">&copy; SimpleLogin SAS. {{ dateFormat "2006" now }}. All rights reserved.</p>
        <!-- End Copyright -->
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
  data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
  <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->

<!-- JS Global Compulsory -->
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
<script src="/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/vendor/slick-carousel/slick/slick.js"></script>

<!-- JS Front -->
<script src="/assets/js/hs.core.js"></script>
<script src="/assets/js/components/hs.header.js"></script>
<script src="/assets/js/components/hs.unfold.js"></script>
<script src="/assets/js/components/hs.svg-injector.js"></script>
<script src="/assets/js/components/hs.validation.js"></script>
<script src="/assets/js/components/hs.slick-carousel.js"></script>
<script src="/assets/js/components/hs.go-to.js"></script>

<script src="/prism.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 767.98,
      hideTimeOut: 0
    });

    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#header'));

    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
      afterOpen: function () {
        $(this).find('input[type="search"]').focus();
      }
    });

    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate', {
      rules: {
        confirmPassword: {
          equalTo: '#signupPassword'
        }
      }
    });

    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
  });
</script>
<script src="/local-storage-polyfill.js"></script>

<!--<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->

<script src="/lib/jquery.cookie.min.js"></script>

<!-- development version, includes helpful console warnings -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- production version, optimized for size and speed -->
<script src="/lib/vue.js"></script>

<script src="/lib/js.cookie.min.js"></script>

<script src="/lib/bowser.js"></script>

<script src="/custom.js?v=12"></script>

</body>

</html>