<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "seo_schema" . }}
  <!-- Title -->
  <title>{{ .Title }}</title>

  {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
  {{ else }}
    <meta name="description" content="Open source email alias solution. Protect your personal email. Take control of your online identity.">
  {{ end }}

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="fb:app_id" content="388804475105146"/>

  {{ if .Params.canonicalUrl }}
    <meta property="og:url"                content="{{ .Params.canonicalUrl }}" />
  {{ else }}
  <meta property="og:url"                content="https://simplelogin.io" />
  {{ end }}

  <meta property="og:title"              content="{{ .Title }}" />

  <meta property="og:type"              content="website" />

  {{ if .Description }}
    <meta property="og:description"        content="{{ .Description }}" />
  {{ else }}
    <meta property="og:description" content="Open source email alias solution. Protect your personal email. Take control of your online identity.">
  {{ end }}

  <meta property="og:image"              content="https://simplelogin.io/fb.png" />

  <!-- Bing -->
  <meta name="msvalidate.01" content="2A313A69CBFD1A378C3B91734DC221A8" />

  <!-- Yandex -->
  <meta name="yandex-verification" content="48bd1902d2d7444a" />

  {{ if .Params.canonicalUrl }}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
  {{ else }}
    <link rel="canonical" href="https://simplelogin.io">
  {{ end }}

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <style>
    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Light.otf");
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Regular.otf");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Medium.otf");
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-SemiBold.otf");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Bold.otf");
      font-weight: 700;
      font-style: normal;
    }

  </style>

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/assets/css/theme.min.css">

  <link rel="stylesheet" href="/prism.css">

  <link rel="stylesheet" href="/custom.css">

</head>
<body>

  <!-- <div id="hello-bar" class="alert alert-success text-center d-none" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    During Beta: get <span class="font-weight-bold">50%</span> off with the coupon <strong>BETALIST</strong>
  </div> -->

  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--white-bg-on-scroll u-header--sticky-top-md u-header--bg-transparent"
          data-header-fix-moment="500"
          data-header-fix-effect="slide"
          style="position: static;"
          >
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/" aria-label="SimpleLogin">
            <img src="/logo.png">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="js-scroll-nav navbar-nav align-items-md-center u-header__navbar-nav ml-auto">

              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/pricing">Pricing</a>
              </li>

              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="/blog">Blog</a>
              </li>

              <li class="nav-item u-header__nav-item">
                <a class="btn btn-primary btn-sm transition-3d-hover" href="https://app.simplelogin.io/auth/login">Sign In</a>
              </li>
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->