<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "seo_schema" . }}

  <title>{{ .Title }}</title>

  {{ if .Description }}
    <meta name="description" content="{{ .Description }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
  {{ end }}

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="referrer" content="no-referrer">

  <meta property="fb:app_id" content="388804475105146"/>

  <link rel="alternate" type="application/rss+xml" href="/blog/index.xml" title="RSS Feed for SimpleLogin">


  <!-- Open Graph -->
  {{ partial "opengraph.html" . }}
  <meta property="og:site_name" content="SimpleLogin">

  <!-- Bing -->
  <meta name="msvalidate.01" content="2A313A69CBFD1A378C3B91734DC221A8" />

  <!-- Yandex -->
  <meta name="yandex-verification" content="c9e5d4d68bc983a1" />

  <link rel="canonical" href="{{.Permalink}}">

  <!-- Twitter -->
  {{ partial "twitter_cards.html" . }}
  <meta name="twitter:site" content="@simplelogin" />
  <meta name="twitter:creator" content="@simplelogin" />

  {{ partial "schema.html" . }}

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <style>
    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Light.otf");
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Regular.otf");
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Medium.otf");
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-SemiBold.otf");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Poppins';
      src: url("/font/poppins/Poppins-Bold.otf");
      font-weight: 700;
      font-style: normal;
    }

  </style>

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/assets/css/theme.min.css">

  <link rel="stylesheet" href="/prism.css">

  <link rel="stylesheet" href="/custom.css?v=4">

</head>
<body class="d-flex flex-column" style="min-height: 100vh">
  <!-- Hello bar for visitors from Les Pépites Tech -->
  <div id="pepitestech-bar" class="alert alert-success text-center d-none" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Bienvenue ! Tu peux avoir <span class="font-weight-bold">50%</span> de réduction avec le code <strong>LESPEPITESTECH</strong>
  </div>

  <div id="hello-bar" class="alert alert-success text-center d-none" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    SimpleLogin is featured in
    <a href="https://lespepitestech.com/startup-de-la-french-tech/simplelogin" target="_blank" rel="noopener"
      data-toggle="tooltip" title="aka the French ProductHunt">Les Pépites Tech ↗</a>
  </div>

  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--white-bg-on-scroll u-header--sticky-top-md u-header--bg-transparent"
          data-header-fix-moment="500"
          data-header-fix-effect="slide"
          style="position: static;"
          >
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center"
            href='{{ cond (eq .Lang "en") "/" (print "/" .Lang "/") }}'
            aria-label="SimpleLogin">
            <img src="/logo.svg" alt="SimpleLogin logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="js-scroll-nav navbar-nav align-items-md-center u-header__navbar-nav ml-auto">

              <!-- Community Menu -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut"
                  data-max-width="600px"
                  data-position="right">
                <a id="shopMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Community</a>


                <div class="hs-mega-menu u-header__sub-menu u-header__mega-menu-position-right-fix--md" aria-labelledby="shopMegaMenu">
                  <div class="u-header__mega-menu-wrapper">

                    <div class="row p-0">
                      <div class="col p-0">
                        <ul class="u-header__sub-menu-nav-group">
                          <li class="submenu-item p-3">
                            <a class="nav-link u-header__sub-menu-nav-link" href="/blog/">
                              <div>
                                <p class="font-weight-bold mb-1">Blog</p>
                                <p>
                                  Stories about our journey to build an open-source tool to protect your privacy, what we've learnt and tips to take control of your privacy.
                                </p>
                              </div>
                            </a>
                          </li>

                          <li class="submenu-item p-3">
                            <a class="nav-link u-header__sub-menu-nav-link" href="/docs/">
                              <div>
                                <p class="font-weight-bold  mb-1">Documentation</p>
                                <p>
                                  How to get the most from SimpleLogin.
                                </p>
                              </div>
                            </a>
                          </li>

                          <li class="submenu-item p-3">
                            <a class="nav-link u-header__sub-menu-nav-link" href="https://github.com/simple-login/app">
                              <div>
                                <p class="font-weight-bold  mb-1">GitHub Repo</p>
                                <p>
                                  Read, review our code. Make sure that SimpleLogin is doing what it says.
                                </p>
                              </div>
                            </a>
                          </li>

                          <li class="submenu-item p-3">
                            <a class="nav-link u-header__sub-menu-nav-link" href="https://github.com/simple-login/app/discussions">
                              <div>
                                <p class="font-weight-bold  mb-1">Forum</p>
                                <p>
                                  Discuss about new features, ask questions, share best practices, etc.
                                </p>
                              </div>
                            </a>
                          </li>

                        </ul>


                      </div>
                    </div>
                  </div>

                  <div class="p-5" style="background-color: #f8f9fa; border-radius: 5px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);">
                    <h5>
                      Comparisons
                    </h5>

                    <!-- List Group -->
                    <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                      <div class="row">
                        <li class="col"><a class="list-group-item list-group-item-action text-dark" href="/blog/email-alias-vs-plus-sign/">vs Plus Sign (+) Trick </a></li>
                        <li class="col"><a class="list-group-item list-group-item-action text-dark" href="/blog/vs-firefox-relay/">vs Firefox Relay</a></li>
                      </div>
                      <div class="row">
                        <li class="col"><a class="list-group-item list-group-item-action text-dark" href="/blog/vs-burner-mail/">vs Burner Mail </a></li>
                        <li class="col"><a class="list-group-item list-group-item-action text-dark" href="/blog/alternative-33mail/">vs 33mail </a></li>
                      </div>
                    </ul>
                    <!-- End List Group -->

                  </div>
                </div>

              </li>
              <!-- End Community Menu -->

              <li class="nav-item u-header__nav-item mr-6">
                <a class="nav-link u-header__nav-link"
                  href='{{ cond (eq .Lang "en") "/pricing/" (print "/" .Lang "/pricing/") }}'>
                  {{ i18n "header_pricing" }}
                </a>
              </li>

              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="https://app.simplelogin.io/auth/login">
                  {{ i18n "header_login" }}
                </a>
              </li>

              <li class="nav-item u-header__nav-item mr-6">
                <a class="btn btn-primary btn-sm transition-3d-hover" href="https://app.simplelogin.io/auth/register">
                  {{ i18n "header_signup" }}
                </a>
              </li>

            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->