{{ partial "header.html" . }}

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Hero Section -->
  <div class="container space-top-md-5 space-top-lg-4">
    <div class="row justify-content-lg-between mb-1">
      <div class="col-lg-5 mb-1 mb-lg-0">
        <!-- Info -->
        <div class="mb-5">
          <h1 class="h2 font-weight-medium mb-3">Take control of your online identity.</h1>

          <p>Protect your email inbox by <em>Email Alias</em>. <br>Decide who can send you email.</p>
        </div>

        <div class="mb-3">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3" href="#">Sign Up</a>
        </div>

        <!-- End Info -->
      </div>

      <div class="col-lg-6">
        <!-- SVG Illustration -->
        <figure id="SVGHero" class="svg-preloader ie-hiker-man w-md-75 w-lg-100">
          <img class="js-svg-injector" src="/home1.png" alt="Image Description"  id="hero-image"
                data-parent="#SVGHero">
        </figure>
        <!-- End SVG Illustration -->
      </div>
    </div>

  </div>
  <!-- End Hero Section -->


  <!-- Mockup Block Section -->
  <div class="container space-bottom-1">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-3">
      <span class="btn btn-xs btn-soft-primary btn-pill mb-2">#privacy</span>
      <h2 class="text-primary">Your Privacy Comes <span class="font-weight-semi-bold">First</span></h2>
    </div>
    <!-- End Title -->

    <div class="row justify-content-lg-between align-items-center">
      <div class="col-md-6 col-lg-5 mb-md-0">
        <div class="pr-md-4">
          <!-- Info -->
          <div class="media mb-7">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">A.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-primary">Hide your personal email address</h3>
              <p>Create quickly a random, secure email alias on any website.</p>
              <p>All emails going to an alias will be  forwarded to your personal inbox.</p>
            </div>
          </div>
          <!-- End Info -->

          <!-- Info -->
          <div class="media mb-7">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">B.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-primary">You control who can send you emails</h3>
              <p>Simply block an alias if it's too spammy.</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>

      <div id="SVGellipseMockup" class="col-md-6 svg-preloader">
        <!-- SVG Mockup -->
        <figure class="ie-ellipse-mockup">
          <img class="js-svg-injector" src="/assets/svg/illustrations/ellipse-mockup.svg" alt="Image Description"
                data-img-paths='[
                  {"targetId": "#SVGellipseMockupImg1", "newPath": "/home2.png"}
                ]'
                data-parent="#SVGellipseMockup">
        </figure>
        <!-- End SVG Mockup -->
      </div>
    </div>
  </div>
  <!-- End Mockup Block Section -->

  <!-- Mockup Block Section -->
  <div class="container space-bottom-1">
    <div class="row justify-content-lg-between align-items-center">
      <div class="col-md-6 col-lg-5 order-md-2 mb-md-0">
        <div class="pl-md-4">
          <!-- Info -->
          <div class="media mb-7">
            <span class="btn btn-sm btn-icon btn-soft-success rounded-circle mr-3">
              <span class="btn-icon__inner">C.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-success">Reply with an alias</h3>
              <p>Never show your personal email even when you reply.</p>
              <p>Simply hit "Reply" button in your favorite email client and the reply will go through our server to look like it comes from the alias.</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>

      <div id="SVGellipseMockupReverse" class="col-md-6 order-md-1 svg-preloader">
        <!-- SVG Mockup -->
        <figure class="ie-ellipse-mockup">
          <img class="js-svg-injector" src="/assets/svg/illustrations/ellipse-mockup-reverse.svg" alt="Image Description"
                data-img-paths='[
                  {"targetId": "#SVGellipseMockupReverseImg1", "newPath": "/home3.png"}
                ]'
                data-parent="#SVGellipseMockupReverse">
        </figure>
        <!-- End SVG Mockup -->
      </div>
    </div>
  </div>
  <!-- End Mockup Block Section -->

  <!-- Mockup Block Section -->
  <div class="container space-bottom-1">
    <div class="row justify-content-lg-between align-items-center">
      <div class="col-md-6 col-lg-5 mb-md-0">
        <div class="pr-md-4">
          <!-- Info -->
          <div class="media mb-7">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">D.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-primary">No more sign-up form</h3>
              <p>You can quickly sign in on any website that has "Sign in with SimpleLogin" button.</p>
              <p>No more "password must be at least 8 characters long", no more disposable temporary email, logging in should be quick.</p>
            </div>
          </div>
          <!-- End Info -->

          <!-- Info -->
          <div class="media mb-7">
            <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
              <span class="btn-icon__inner">E.</span>
            </span>
            <div class="media-body">
              <h3 class="h5 text-primary">You choose what information you want to share</h3>
              <p>You can decide and custom what information you want to share to a website. </p>
              <p>By default a new alias is created for each website.</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>

      <div id="SVGellipseMockup2" class="col-md-6 svg-preloader">
        <!-- SVG Mockup -->
        <figure class="ie-ellipse-mockup">
          <img class="js-svg-injector" src="/assets/svg/illustrations/ellipse-mockup.svg" alt="Image Description"
                data-img-paths='[
                  {"targetId": "#SVGellipseMockupImg1", "newPath": "/home4.png"}
                ]'
                data-parent="#SVGellipseMockup2">
        </figure>
        <!-- End SVG Mockup -->
      </div>
    </div>
  </div>
  <!-- End Mockup Block Section -->

  <!-- Testimonials Section -->
  <div class="bg-light">
    <div class="container space-md-1">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-2">
        <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Testimonials</span>
        <h2 class="h3 font-weight-normal">SimpleLogin is loved by users worldwide</h2>
      </div>
      <!-- End Title -->

      <!-- Slick Carousel -->
      <div class="js-slick-carousel u-slick u-slick-zoom u-slick--gutters-3"
           data-slides-show="3"
           data-slides-to-scroll="3"
           data-center-mode="false"
           data-autoplay="false"
           data-speed="5000"
           data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
           data-responsive='[{
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 2
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 1
             }
           }]'>
		
        <div class="js-slide my-4">
          <!-- Testimonials -->
          <div class="u-slick-zoom__slide text-center">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-7">
                <p class="mb-4">
					When I had to login to websites that wanted desperately my email, I was going towards a temporary email solution. <br>
					It was working half of the times.

                </p>
                <p class="mb-0">
					With SimpleLogin I have the power to control every email of mine and filter out unwanted communications. Simple as that.             
				</p>
				
              </div>
            </div>
            <div class="position-relative z-index-2 mt-n5 mb-3">
              <div class="u-avatar mx-auto">
                <a href="https://www.linkedin.com/in/costas-alexoglou-b9366392/">
                  <img class="img-fluid rounded-circle" src="/testimonial/costa100.jpeg" alt="Testimonial Max">
                </a>
              </div>
            </div>
            <h4 class="h6 mb-0">Costas Alexoglou</h4>
            <p class="small">CEO @ Loceye</p>
          </div>
          <!-- End Testimonials -->
        </div>
		
		
        <div class="js-slide my-4"> 		  
          <!-- Testimonials -->
          <div class="u-slick-zoom__slide text-center">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-7">
                <p class="mb-4">I usually have to enter my email while subscribing to new services online, albeit without much confidence.</p>
                <p>SimpleLogin gives me a trustworthy alternative and helps me controlling my privacy on the Internet.</p>
              </div>
            </div>
            <div class="position-relative z-index-2 mt-n5 mb-3">
              <div class="u-avatar mx-auto">
                <a href="https://www.linkedin.com/in/nncuong/">
                  <img class="img-fluid rounded-circle" src="/testimonial/cuong100.jpg" alt="Testimonial Cuong">
                </a>
              </div>
            </div>
            <h4 class="h6 mb-0">Nguyen Nhat Cuong</h4>
            <p class="small">Senior Software Engineer at Facebook</p>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide my-4">
          <!-- Testimonials -->
          <div class="u-slick-zoom__slide text-center">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-7">
                <p class="mb-4">
                    SimpleLogin gives me the convenience of a social login button with the privacy of an anonymous email address.
                </p>
                <p class="mb-0">
                  I like that some of the money I spend on the service goes toward paying website owners, it allows me to feel less guilty about using uBlock Origin
                </p>
              </div>
            </div>
            <div class="position-relative z-index-2 mt-n5 mb-3">
              <div class="u-avatar mx-auto">
                <a href="https://twitter.com/mxschumacher">
                  <img class="img-fluid rounded-circle" src="/testimonial/max100.jpeg" alt="Testimonial Max">
                </a>
              </div>
            </div>
            <h4 class="h6 mb-0">Max Schumacher</h4>
            <p class="small">@mxschumacher</p>
          </div>
          <!-- End Testimonials -->
        </div>

      </div>
      <!-- End Slick Carousel -->
    </div>
  </div>
  <!-- End Testimonials Section -->

  <!-- FAQ Section -->
  <div class="container">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span class="btn btn-xs btn-soft-success btn-pill mb-2 mt-7">Help</span>
      <h2 class="text-primary">Frequently asked <span class="font-weight-semi-bold">questions</span></h2>
    </div>
    <!-- End Title -->

    <!-- FAQ -->
    <div class="space-bottom-2 space-bottom-md-3">
      <div class="row">
        <div class="col-md-6 mb-5">
          <div class="pr-md-4">
            <h3 class="h6">What is an alias?</h3>
            <p>
              Alias is similar to <a href="https://en.wikipedia.org/wiki/Email_forwarding">forward</a> email address: all emails sent to an alias will be forwarded to your inbox.
            </p>

            <p>
              Thanks to SimpleLogin technology, when you hit "Reply" button, the reply will also come from the alias.
            </p>
            <p>
              For your correspondent, the alias is therefore your email address.
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-5">
          <div class="pl-md-4">
            <h3 class="h6">
              How SimpleLogin is different than temporary email services?
            </h3>

            <p>
              SimpleLogin alias are <em>permanent</em> as opposed to the temporary emails created on services like <a href="https://temp-mail.org/en/">temp-mail.org</a>, <a href="https://10minutemail.net">10minutemail.net</a>, etc.
            </p>
            <p>
              SimpleLogin also doesn't store the emails.
            </p>
            <p>
              We are simply different products for different usecases.
            </p>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 mb-5">
          <div class="pr-md-4">
            <h3 class="h6">Is email alias permanent?</h3>
            <p>Yes! An email alias is actually a normal email address that exists forever unless you remove it on your SimpleLogin dashboard.</p>
          </div>
        </div>

        <div class="col-md-6 mb-5">
          <div class="pl-md-4">
            <h3 class="h6">Do you read forwarded emails?</h3>
            <p>
              SimpleLogin doesn't store the emails (we don't want to become another Gmail 💰).
            </p>
            <p>
              Technically the emails DO arrive at SimpleLogin server and we modify email headers to implement the "magic" but the email content is never processed.
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- End FAQ -->

    <!-- Divider -->
    <div class="w-80 mx-auto">
      <hr class="my-0">
    </div>
    <!-- End Divider -->
  </div>
  <!-- End FAQ Section -->

</main>
<!-- ========== END MAIN CONTENT ========== -->

{{ partial "footer.html" . }}