{{ partial "header.html" . }}

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <div class="">
    <!-- Hero Section -->
    <div class="container mb-7">
      <div class="row justify-content-lg-between mb-1">
        <div class="col-lg-6 mb-1 mb-lg-0 space-top-3">
          <!-- Info -->
          <div class="mb-5">
            <div class="font-weight-light" style="font-size: 12px">
              <a href="https://github.com/simple-login/app" target="_blank">
                <span class="text-secondary">
                  Open source and self-hostable
                  <span class="fab fa-github"></span>
                </span>
              </a>
            </div>

            <h1 class="h4 font-weight-medium mb-2 text-danger">Don't lose your email to spammers</h1>

            <p class="mb-2">
              Protect your email address and take control of your mailbox with
              <em data-toggle="tooltip" data-html="true"
                title="An email alias (or alias for short) is a <b>normal</b> email address that <b>doesn't store</b> emails: all emails sent to an alias are forwarded to your personal email.">email alias</em>.
            </p>

            <p class="mb-2">
              Or create your
              <em data-toggle="tooltip" data-html="true" title="A business email is an email you use for your company, project, association, etc like contact@my-domain.com, partner@my-domain.com, etc">
                business emails</em>
              using email alias.
            </p>

            <p>
              Either way you're going to be surprised by what an email alias can do!
            </p>

          </div>

          <div class="mb-3">
            <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3"
              href="https://app.simplelogin.io/auth/register">
              <span style="font-weight: 400;">Get your aliases today >></span>
            </a>
          </div>

          <!-- End Info -->
        </div>

        <div class="col-lg-6 mt-3">
          <!-- SVG Illustration -->
          <img src="/images/hero.svg" class="w-100">
        </div>
      </div>

    </div>
  </div>
  <!-- End Hero Section -->

  <!-- 3-step Section -->
  <div class="bg-light" style="min-height: 50vh;">
    <div class="container space-md-1 pt-4 pb-7">
      <!-- Title -->
      <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-2 py-5">

        <h2 class="h3 font-weight-normal">How it works</h2>
        <p>Or the journey to a sane inbox.</p>

      </div>
      <!-- End Title -->

      <div class="row mb-7">
        <div class="col-md-4">
          <div class="card-frame p-4 h-100">
            <div class="text-muted h3">1.</div>
            <div class="h5 text-primary">Sign up and start creating aliases</div>
            <p class=""> The next time a website asks for your email
              address, just create a new alias instead of using your real email.</p>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card-frame p-4 h-100">
            <div class="text-muted h3">2.</div>
            <div class="h5 text-primary">Receive emails safely</div>
            <p class="">All emails sent to an alias are forwarded to your "real" email address without the sender
              knowing anything.</p>
          </div>

        </div>


        <div class="col-md-4">
          <div class="card-frame p-4 h-100">
            <div class="text-muted h3">3.</div>
            <div class="h5 text-primary">Create aliases without leaving the browser</div>
            <p class="">
              Quickly manage aliases with our browser extension and mobile apps.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End 3-step Section -->

  <!-- What you can do Section -->
  <div class="pt-2 pb-5 space-1">
    <div class="container">
      <div class="py-5">
        <h2 class="text-primary text-center" style="margin: auto;">What you can do with aliases</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="p-3">
            <h3 class="h6 font-weight-semi-bold mb-5">A. Replace email by alias everywhere</h3>
            <figure id="featuresSVG1" class="svg-preloader w-100 mx-auto mb-4">
              <img class="js-svg-injector w-100" src="/images/custom-alias.png" alt="Custom Alias image"
                data-parent="#featuresSVG1">
            </figure>

            <p>Subscribe to mailing lists, create new online accounts with email alias.</p>
            <p>All emails sent to an alias will be <b>forwarded</b> to your personal inbox.</p>
            <p>Later on, simply block an alias if it's too spammy.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <h3 class="h6 font-weight-semi-bold mb-5">B. Send emails from alias</h3>

            <figure id="featuresSVG3" class="svg-preloader w-100 mx-auto mb-4">
              <img class="js-svg-injector w-100" src="/images/reply-alias.png" alt="Reply Alias image"
                data-parent="#featuresSVG3">
            </figure>

            <p>Just hit "Reply" whenever you need to reply to a forwarded email: the reply will come from the alias and your personal mailbox stays hidden.</p>

            <p>You can also <em data-toggle="tooltip" data-html="true"
                title="<b>Normal</b> email alias like the <b>+ trick </b> usually works in one way: you can only receive emails. <br>In SimpleLogin, you can easily reply/send emails from your alias.">send</em>
              emails to any email address from your alias.</p>


          </div>
        </div>

        <div class="col-md-4">
          <div class="p-3">
            <h3 class="h6 font-weight-semi-bold mb-5">C. Run your business with alias</h3>

            <figure id="featuresSVG2" class="svg-preloader w-100 mx-auto mb-4">
              <img class="js-svg-injector w-100" src="/images/business-email.png" alt="Business email image"
                data-parent="#featuresSVG2">
            </figure>

            <p>Use alias as your <b>business email</b>.</p>
            <p>Save $6/month

              <i class="fa fa-question-circle" data-toggle="tooltip" data-html="true"
                title='GSuite starts at $6/month per user.'></i>
              for each business email created with SimpleLogin.
            </p>
            <p>
              By the way our company emails are actually aliases.
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End What you can do Section -->

  <!-- Features Section -->
  <div class="bg-light">
    <div class="container space-2 space-lg-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
        <h2 class="text-primary text-center">Privacy, security and features you’ll love</h2>
        <p>SimpleLogin is the most advanced email alias solution.</p>

      </div>
      <!-- End Title -->

      <!-- Icon Blocks -->
      <div class="row">
        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon28" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-7.svg" alt="SVG" data-parent="#icon28">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">100% open source</h4>
            </div>
          </div>
          <p>Built upon open source technology, SimpleLogin is also fully open source. <br>
            You wouldn't trust a black box to handle your emails, would you?
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon29" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-white-44.svg" alt="SVG"
                data-parent="#icon29">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Browser extension</h4>
            </div>
          </div>
          <p>
            Manage your aliases on SimpleLogin
            <a
              href="https://chrome.google.com/webstore/detail/simplelogin-protect-your/dphilobhebphkdjbpfohgikllaljmgbn">Chrome</a>
            (and other Chromium-based browsers like Edge, Opera, Brave, etc),
            <a href="https://addons.mozilla.org/en-GB/firefox/addon/simplelogin/">Firefox</a> and <a
              href="https://apps.apple.com/us/app/simplelogin/id1494051017?mt=12&fbclid=IwAR0M0nnEKgoieMkmx91TSXrtcScj7GouqRxGgXeJz2un_5ydhIKlbAI79Io">Safari</a>
            extension. <br>
            Mobile apps are coming soon.
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon26" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-15.svg" alt="SVG" data-parent="#icon26">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Send emails from alias</h4>
            </div>
          </div>
          <p>Not only an alias can receive emails, it can also <b>send</b> emails. An alias is a full-fledged email
            address.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon31" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-23.svg" alt="SVG" data-parent="#icon31">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Custom domain</h4>
            </div>
          </div>
          <p>
            Bring your own domain and thanks to alias technology, SimpleLogin could replace your email hosting solution!
            <br>

            And do you know that you can have <em data-toggle="tooltip" data-html="true"
              title="By enabling catch-all, you can create aliases on-the-fly: <b>anything@your-domain.com</b> will be automatically created the first time it receives an email.">catch-all</em>
            alias with your domain?
            <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon5" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-40.svg" alt="SVG" data-parent="#icon5">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Generous pricing</h4>
            </div>
          </div>
          <p>All SimpleLogin plans have <b>infinite</b> forwards/sends and <b>unlimited</b> bandwidth. <br>
            Receive and send emails as much as you want.
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon7" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-37.svg" alt="SVG" data-parent="#icon7">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">On-the-fly aliases with directory</h4>
            </div>
          </div>
          <p>
            Create your <em data-toggle="tooltip" data-html="true"
              title="Directory is a great way to organize and create aliases on-the-fly. Just use
              <b>your_directory/ANYTHING@simplelogin.co</b> when you quickly need an alias, the alias will be created when it receives the first email.">directory</em>, and use it to quickly create aliases without opening SimpleLogin web or mobile apps.
            <a href="/blog/alias-directory/">Learn more</a>.
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon8" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-45.svg" alt="SVG" data-parent="#icon8">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">Multiple mailboxes</h4>
            </div>
          </div>
          <p>
            If you already have several email addresses, this feature is for you: you can add several <b>real</b> email
            addresses into SimpleLogin and choose which one to use when creating aliases. <a
              href="/blog/introducing-mailbox/">Learn more</a>.
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon9" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-20.svg" alt="SVG" data-parent="#icon9">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">PGP Encryption</h4>
            </div>
          </div>
          <p>
            Encrypt the forwarded emails with your own PGP key. Only you can then decrypt these emails.
            Works perfectly with Protonmail or any email services with email client OpenPGP tools (Enigmail, GPG Tools, Canary Mail, etc)
          </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <figure id="icon37" class="svg-preloader ie-height-40 w-100 max-width-6 mr-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-22.svg" alt="SVG" data-parent="#icon37">
            </figure>
            <div class="media-body">
              <h4 class="h6 mb-0">More than (just) alias</h4>
            </div>
          </div>
          <p>SimpleLogin ambition is to protect your online privacy and email is just the beginning. <br>
            Stay tuned for upcoming features like single sign-on, phone number protection, credit card protection.
          </p>
          <!-- End Icon Block -->
        </div>

      </div>
      <!-- End Icon Blocks -->
    </div>
  </div>
  <!-- End Features Section -->

  <!-- Testimonials Section -->
  <div class="">
    <div class="container space-md-1">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-2">
        <span class="btn btn-xs btn-soft-primary btn-pill mb-2 mt-3">Testimonials</span>
        <h2 class="h3 font-weight-normal">SimpleLogin is loved by users</h2>
      </div>
      <!-- End Title -->

      <!-- Slick Carousel -->
      <div class="js-slick-carousel u-slick u-slick-zoom u-slick--gutters-3" data-slides-show="2"
        data-slides-to-scroll="3" data-center-mode="false" data-autoplay="false" data-speed="5000"
        data-pagi-classes="text-center u-slick__pagination pb-4" data-responsive='[{
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 2
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 1
             }
           }]'>

        <div class="js-slide my-4">
          <!-- Testimonials -->
          <div class="u-slick-zoom__slide text-center">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-7">
                <p class="mb-4">
                  When I had to login to websites that wanted desperately my email, I was going towards a temporary
                  email solution. <br>
                  It was working half of the times.

                </p>
                <p class="mb-0">
                  With SimpleLogin I have the power to control every email of mine and <b>filter out unwanted
                    communications</b>. Simple as that.
                </p>

              </div>
            </div>
            <div class="position-relative z-index-2 mt-n5 mb-3">
              <div class="u-avatar mx-auto">
                <a href="https://www.linkedin.com/in/costas-alexoglou-b9366392/">
                  <img class="img-fluid rounded-circle" src="/testimonial/costa100.jpeg" alt="Testimonial Max">
                </a>
              </div>
            </div>
            <h4 class="h6 mb-0">Costas Alexoglou</h4>
            <p class="small">CEO @ Loceye</p>
          </div>
          <!-- End Testimonials -->
        </div>


        <div class="js-slide my-4">
          <!-- Testimonials -->
          <div class="u-slick-zoom__slide text-center">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-7">
                <p class="mb-4">I usually have to enter my email while subscribing to new services online, albeit
                  without much confidence.</p>
                <p>SimpleLogin gives me a <b>trustworthy alternative</b> and helps me controlling my privacy on the
                  Internet.
                </p>
              </div>
            </div>
            <div class="position-relative z-index-2 mt-n5 mb-3">
              <div class="u-avatar mx-auto">
                <a href="https://www.linkedin.com/in/nncuong/">
                  <img class="img-fluid rounded-circle" src="/testimonial/cuong100.jpg" alt="Testimonial Cuong">
                </a>
              </div>
            </div>
            <h4 class="h6 mb-0">Nguyen Nhat Cuong</h4>
            <p class="small">Senior Software Engineer at Facebook</p>
          </div>
          <!-- End Testimonials -->
        </div>

        <div class="js-slide my-4">
          <!-- Testimonials -->
          <div class="u-slick-zoom__slide text-center">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-7">
                <p class="mb-4">
                  SimpleLogin gives me the <b>convenience</b> of a social login button with the privacy of an
                  anonymous email
                  address.
                </p>
                <p class="mb-0">
                  I like that some of the money I spend on the service goes toward paying website owners, it allows me
                  to feel less guilty about using uBlock Origin
                </p>
              </div>
            </div>
            <div class="position-relative z-index-2 mt-n5 mb-3">
              <div class="u-avatar mx-auto">
                <a href="https://twitter.com/mxschumacher">
                  <img class="img-fluid rounded-circle" src="/testimonial/max100.jpeg" alt="Testimonial Max">
                </a>
              </div>
            </div>
            <h4 class="h6 mb-0">Max Schumacher</h4>
            <p class="small">@mxschumacher</p>
          </div>
          <!-- End Testimonials -->
        </div>

      </div>
      <!-- End Slick Carousel -->
    </div>
  </div>
  <!-- End Testimonials Section -->


  <!-- FAQ Section -->
  <div class="bg-light">
    <div class="container">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2 mt-7">Help</span>
        <h2 class="text-primary">Frequently asked <span class="font-weight-semi-bold">questions</span></h2>
      </div>
      <!-- End Title -->

      <!-- Basics Accordion -->
      <div id="faq-app">
        <div id="basicsAccordion">
          <!-- Card -->
          <div class="card mb-3" v-for="(qa, index) in qas">
            <div class="card-header card-collapse" :id="'basicsHeading' + index">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse" v-bind:data-target="'#basicsCollapse' + index" aria-expanded="false"
                  v-bind:aria-controls="'basicsCollapse' + index">
                  <span v-html="qa.q"></span>

                  <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                  </span>
                </button>
              </h5>
            </div>
            <div :id="'basicsCollapse' + index" class="collapse" v-bind:aria-labelledby="'basicsHeading' + index"
              data-parent="#basicsAccordion">
              <div class="card-body">
                <p  v-html="qa.a"></p>
              </div>
            </div>
          </div>
          <!-- End Card -->

        </div>
      </div>

      <!-- Divider -->
      <div class="w-80 mx-auto">
        <hr class="my-0">
      </div>
      <!-- End Divider -->
    </div>
  </div>
  <!-- End FAQ Section -->


  <!-- CTA -->
  <div class="position-relative gradient-overlay-half-primary-v2 overflow-hidden">
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-6">
          <h3 class="h3 text-center text-white font-weight-medium">
            Ready to get started?
          </h3>
        </div>

        <div class="col-6 text-center">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3 border border-primary"
            href="https://app.simplelogin.io/auth/register">Create
            SimpleLogin Account >></a>
        </div>

      </div>
    </div>
  </div>
  <!-- End CTA -->

  <!-- Roadmap -->
  <div class="bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h4 class="h4">Roadmap</h4>

          <ul class="timeline">
            <li>
              No more sign-up form
              <span class="float-right">
                <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>You can quickly sign in on any website that has "Sign in with SimpleLogin" button.</p>
              <p>And you can decide and customize what information you want to share with a website.</p>
              <img src="/images/signin-button.png" class="w-25">
            </li>

            <li>
              Custom alias domain
              <span class="float-right">
                <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>You can add custom domain for your alias, for example <b>my_alias@my_domain.com</b>.</p>
            </li>

            <li>
              Open source
              <span class="float-right">
                <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>SimpleLogin code is fully open source on <a href="https://github.com/simple-login">Github</a>.</p>
            </li>

            <li>
              Directory (or username)
              <span class="float-right">
                <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>Simply use <b>your-directory/ANYTHING@simplelogin.co</b> <br>
                next time you need an email address.
              </p>
            </li>

            <li>
              Safari Extension
              <span class="float-right">
                <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>The next browser to be covered after Chrome & Firefox.</p>
            </li>

            <li>
              iOS & Android App
              <span class="float-right">
                <span class="badge badge-info font-weight-medium badge-pill ml-1">Beta</span>
              </span>
              <p>Manage aliases on the go.</p>
            </li>

            <li>
              Additional Mailboxes
              <span class="float-right">
                <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>
                You can add additional mailboxes and use them for your aliases. <br>
                Handy when you already have several email addresses or want to create aliases for your friends.
              </p>
            </li>

            <li>
              OpenPGP support
              <span class="float-right">
              <span class="badge badge-success font-weight-medium badge-pill ml-1">Live</span>
              </span>
              <p>Bring your own PGP key or use our public key to encrypt all forwarded emails.</p>
            </li>

            <li>
              And other exiting features!
              <span class="float-right">
                <span class="badge badge-warning font-weight-medium badge-pill ml-1">We need you!</span>
              </span>
              <p>
                Check out our full Roadmap on <a href="https://trello.com/b/4d6A69I4/open-roadmap">Trello</a>. <br>
                Don't hesitate to submit new ideas or vote on features you like to happen.
              </p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Roadmap -->

  <!-- Partner -->
  <div class="pb-6">
    <div class="container">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto p-9">
        <h2 class="text-primary">Our partners</h2>
      </div>
      <!-- End Title -->


      <div class="row mb-2" style="max-width: 800px; margin: auto">
        <div class="col" data-toggle="tooltip" title="Start your UpCloud trial and get $25 credits">
          <a
            href="https://www.upcloud.com/register/?promo=simplelogin&utm_source=simplelogin.io&utm_medium=banner&utm_campaign=Simplelogin_logo">
            <img src="/images/upcloud.png" style="width: 300px;">
          </a>
        </div>
        <div class="col">
          <p>
            High performance cloud hosting.
            All SimpleLogin infrastructure is powered by UpCloud.
          </p>
        </div>
      </div>

      <div class="row" style="max-width: 800px; margin: auto">
        <div class="col">
          <a href="https://infinitysearch.co/">
            <img src="/images/infinity-search.png" style="width: 300px;">
          </a>
        </div>
        <div class="col">
          <p>
            Infinity Search, multi-engine search that respects your privacy.
          </p>
        </div>
      </div>

      <div class="row" style="max-width: 800px; margin: auto">
        <div class="col">
          <a href="https://www.mydigipassword.com/">
            <img src="/images/antum_id.svg" style="width: 300px;">
          </a>
        </div>
        <div class="col">
          <p>
            The world's first blockchain-powered password generator, 2FA generator and manager without saving passwords.
          </p>
        </div>
      </div>

    </div>
  </div>
  <!-- End Partner -->

</main>
<!-- ========== END MAIN CONTENT ========== -->

{{ partial "footer.html" . }}