code {
    font-size: .8em !important;
}

#hero-image {
    width: 100%
}

@media (min-width: 992px) {
    #hero-image {
        position: relative;
        top: -100px;
    }
}

.profile-picture {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-top: 10px;
}
