code {
    font-size: .8em !important;
}

#hero-image {
    width: 100%
}

@media (min-width: 992px) {
    #hero-image {
        position: relative;
        top: -100px;
    }
}

.profile-picture {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    margin-top: 10px;
}


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}