{{ partial "header.html" . }}

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Header Section -->
  <div class="container space-1 space-top-lg-3">
    <!-- Title -->
    <div class="w-lg-75 text-center mx-lg-auto mb-7">
      <h1 class="h1 font-size-md-down-3 font-weight-semi-bold">
        Frequently asked <span class="font-weight-semi-bold">questions</span>
      </h1>
    </div>
    <!-- End Title -->
  </div>
  <!-- End Header Section -->

  <!-- Tech questions -->
  <div class="container">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mt-3">
      <h2 class="text-primary">Tech questions</h2>
    </div>
    <!-- End Title -->

    <div id="tech-faq">
      {{ with index site.Data.faq }}
        {{ $texts := .tech }}
        {{range $index, $element := $texts}}

          <!-- Card -->
          <div class="card mb-3">
            <div class="card-header card-collapse" id='{{ (print "developer-faq-question" $index) }}'>
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target='{{ print "#tech-faq-answer" $index }}'
                  aria-controls='{{ print "tech-faq-answer" $index }}'
                  aria-expanded="false"
                  >
                  <span>{{ ($element.question)|safeHTML }}</span>

                  <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                  </span>
                </button>
              </h5>
            </div>

            <div id='{{ print "tech-faq-answer" $index }}'
              class="collapse"
              aria-labelledby='{{ print "faq-faq-question" $index }}'
              data-parent="#tech-faq">
              <div class="card-body">
                <p>{{ ($element.answer)|safeHTML }}</p>
              </div>
            </div>
          </div>
          <!-- End Card -->

        {{ end }}
      {{ end }}
    </div>

  </div>
  <!-- END Tech questions -->

  <!-- General questions -->
  <div class="container">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <h2 class="text-primary">General questions</h2>
    </div>
    <!-- End Title -->

    <div id="general-faq">
      {{ with index site.Data.faq site.Language.Lang }}
        {{ $texts := .home }}
        {{range $index, $element := $texts}}

          <!-- Card -->
          <div class="card mb-3">
            <div class="card-header card-collapse" id='{{ (print "basicsHeading" $index) }}'>
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target='{{ print "#basicsCollapse" $index }}'
                  aria-controls='{{ print "basicsCollapse" $index }}'
                  aria-expanded="false"
                  >
                  <span>{{ ($element.question)|safeHTML }}</span>

                  <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                  </span>
                </button>
              </h5>
            </div>

            <div id='{{ print "basicsCollapse" $index }}'
              class="collapse"
              aria-labelledby='{{ print "basicsHeading" $index }}'
              data-parent="#general-faq">
              <div class="card-body">
                <p>{{ ($element.answer)|safeHTML }}</p>
              </div>
            </div>
          </div>
          <!-- End Card -->

        {{ end }}
      {{ end }}
    </div>

  </div>
  <!-- END General questions -->

  <!-- Partner questions -->
  <div class="container pt-2 pb-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5">
      <h2 class="text-primary mt-7">Partner/Developer questions</h2>
    </div>
    <!-- End Title -->

    <div id="developer-faq">
      {{ with index site.Data.faq }}
        {{ $texts := .developer }}
        {{range $index, $element := $texts}}

          <!-- Card -->
          <div class="card mb-3">
            <div class="card-header card-collapse" id='{{ (print "developer-faq-question" $index) }}'>
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target='{{ print "#developer-faq-answer" $index }}'
                  aria-controls='{{ print "developer-faq-answer" $index }}'
                  aria-expanded="false"
                  >
                  <span>{{ ($element.question)|safeHTML }}</span>

                  <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                  </span>
                </button>
              </h5>
            </div>

            <div id='{{ print "developer-faq-answer" $index }}'
              class="collapse"
              aria-labelledby='{{ print "developer-faq-question" $index }}'
              data-parent="#developer-faq">
              <div class="card-body">
                <p>{{ ($element.answer)|safeHTML }}</p>
              </div>
            </div>
          </div>
          <!-- End Card -->

        {{ end }}
      {{ end }}
    </div>

  </div>
  <!-- END Partner questions -->

  <!-- Plan questions -->
  <div class="container">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mt-7">
      <h2 class="text-primary">Plan/Pricing questions</h2>
    </div>
    <!-- End Title -->

    <div id="pricing-faq">
      {{ with index site.Data.faq }}
        {{ $texts := .pricing }}
        {{range $index, $element := $texts}}

          <!-- Card -->
          <div class="card mb-3">
            <div class="card-header card-collapse" id='{{ (print "developer-faq-question" $index) }}'>
              <h5 class="mb-0">
                <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                  data-toggle="collapse"
                  data-target='{{ print "#pricing-faq-answer" $index }}'
                  aria-controls='{{ print "pricing-faq-answer" $index }}'
                  aria-expanded="false"
                  >
                  <span>{{ ($element.question)|safeHTML }}</span>

                  <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                  </span>
                </button>
              </h5>
            </div>

            <div id='{{ print "pricing-faq-answer" $index }}'
              class="collapse"
              aria-labelledby='{{ print "faq-faq-question" $index }}'
              data-parent="#pricing-faq">
              <div class="card-body">
                <p>{{ ($element.answer)|safeHTML }}</p>
              </div>
            </div>
          </div>
          <!-- End Card -->

        {{ end }}
      {{ end }}
    </div>


  </div>
  <!-- Plan questions -->
</main>
<!-- ========== END MAIN CONTENT ========== -->


{{ partial "footer.html" . }}